<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <verbs>
          <remove verb="OPTIONS" />
          <add verb="OPTIONS" allowed="true" />
          <remove verb="PUT" />
          <add verb="PUT" allowed="true" />
          <remove verb="POST" />
          <add verb="POST" allowed="true" />
          <remove verb="GET" />
          <add verb="GET" allowed="true" />
          <remove verb="DELETE" />
          <add verb="DELETE" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
</configuration>







