USE [master]
GO
/****** Object:  Database [alkimia]    Script Date: 05/04/2023 12:51:07 ******/
CREATE DATABASE [alkimia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'alkimia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\alkimia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'alkimia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\alkimia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [alkimia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [alkimia]
GO
/****** Object:  Table [dbo].[Collaborators]    Script Date: 05/04/2023 12:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collaborators](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[emailpersonal] [nvarchar](50) NULL,
	[emailpec] [nvarchar](50) NULL,
	[tel] [nvarchar](50) NULL,
	[cf] [nvarchar](50) NOT NULL,
	[docnumber] [nvarchar](50) NULL,
	[address] [text] NULL,
	[iban] [varchar](max) NULL,
	[note] [text] NULL,
 CONSTRAINT [PK_Collaborators] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permits]    Script Date: 05/04/2023 12:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[collaborator] [int] NOT NULL,
	[from] [datetime] NOT NULL,
	[to] [datetime] NOT NULL,
	[allday] [bit] NULL,
	[timestamp] [timestamp] NOT NULL,
	[note] [text] NULL,
	[torecover] [bit] NULL,
	[type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Permits] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Permits]  WITH CHECK ADD  CONSTRAINT [FK_Permits_Collaborators] FOREIGN KEY([collaborator])
REFERENCES [dbo].[Collaborators] ([id])
GO
ALTER TABLE [dbo].[Permits] CHECK CONSTRAINT [FK_Permits_Collaborators]
GO
USE [master]
GO
